#body{
    background-color: rgb(185, 219, 221);
}

h1{
    display: block;
    text-align: center;
    height: 10px;
    letter-spacing: 2px;
    color:  rgb(21, 69, 71);
}

#imgForm{
    width: 150px; 
    height: 100px; 
    margin-top: 30px; 
    margin-left: 80px; 
    margin-bottom: 40px;
}

.inputForm{
    width: 140px;
}

#button-inicio{
    width: 100px;
    height: 100px;
    right: -5px;
    left: unset;
    bottom: -5px;
    position: fixed;
    z-index: 9999;
}

#button-inicio-img{
    width: 70px;
    height: 70px;
    transition: all 300ms;
}

#button-inicio-img:hover{
    transform: scale(1.4, 1.4);
}

#chatForm{
    box-shadow: -10px -5px 15px rgba(0, 0, 0, 0.342);
    height:350px;
    width: 300px; 
    right: 8px; 
    left: unset;
    bottom: 5px;
    position: fixed;
    z-index: 9999;
    border:  solid 2px black;
    background-color: white;
    display: none;
}

#chat-button{
    margin-top: 30px; 
    margin-left: 110px;
    width: 100px;
    height: 25px;
    background-color: rgb(21, 69, 71);
    color: white;
    cursor: pointer;
    transition: all 300ms;
}

#chat-button:hover{
    background-color: rgb(185, 219, 221);
    color: black;
}

#button-cerrar{
    margin-top: 10px; 
    margin-left: 110px;
    width: 100px;
    height: 25px;
    background-color: rgb(21, 69, 71);
    color: white;
    cursor: pointer;
    transition: all 300ms;
}

#button-cerrar:hover{
    background-color: rgb(185, 219, 221);
    color: black;
}

#chat-container{
    box-shadow: -10px -5px 15px rgba(0, 0, 0, 0.342);
    height:350px;
    width: 300px; 
    right: 8px; 
    left: unset;
    bottom: 9px;
    position: fixed;
    z-index: -10;
    display: none;
}

#cerrarChat{
    height: 20x;
    width: 20px; 
    right: 5px; 
    left: unset;
    bottom: 358px;
    position: fixed;
    z-index: -10;
    display: none;
}